<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <uses-sdk tools:overrideLibrary="androidx.core, androidx.core.ktx, com.google.android.gms.base, com.google.android.gms.tasks, com.google.android.gms.common, com.google.android.gms, com.google.android.recaptcha, com.google.firebase.components, com.google.firebase.installations, com.google.firebase.annotations, com.google.firebase.appcheck.debug, com.google.firebase.appcheck.playintegrity, com.google.firebase.appcheck, com.google.firebase.appcheck.recaptcha, com.google.firebase.firestore, com.google.firebase.ai, com.google.firebase.ai.ondevice.interop, com.google.firebase.auth, com.google.firebase.database, com.google.firebase, com.google.firebase.common" />

    <application
        android:name=".SaribApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:largeHeap="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.MyApplication">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:supportsPictureInPicture="true"
            android:configChanges="orientation|screenSize|smallestScreenSize|screenLayout|keyboardHidden|uiMode"
            android:label="@string/app_name"
            android:theme="@style/Theme.MyApplication">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>

